@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.site {
  width: 100%;
}

* {
  scrollbar-width: auto;
  scrollbar-color: rgba(39, 174, 96, 1) #ffffff;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(39, 174, 96, 1);
  border-radius: 10px;
  border: 3px solid #ffffff;
}
